<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Built Up Homes</title>
	<link rel="shortcut icon" href="img/logo.png" />
	<link rel="stylesheet" href="css/plugins.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body>
	<!-- Preloader -->
	<div class="preloader-bg"></div>
	<div id="preloader">
		<div id="preloader-status">
			<div class="preloader-position loader"><span></span></div>
		</div>
	</div>

	<!-- Progress scroll totop -->
	<div class="progress-wrap cursor-pointer">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
		</svg>
	</div>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg">
		<!-- Logo -->
		<div class="logo-wrapper valign">
			<div class="logo">
				<a href="/"> <img src="img/logo.png" class="logo-img" alt="">
				</a>
			</div>
		</div>
		<!-- Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
			aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
				class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
		<!-- Menu -->
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="/services" role="button"
						data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i
							class="ti-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="/planning-design" class="dropdown-item"><span>Planning & Design</span></a></li>
						<li><a href="/interior-design" class="dropdown-item"><span>Interior Design &
									Execution</span></a></li>
						<li><a href="/landscaping-design" class="dropdown-item"><span> Landscaping Design &
									Execution</span></a></li>
						<li><a href="/maintenance" class="dropdown-item"><span>Maintenance & Renovation</span></a></li>
						<li><a href="/bank-loan" class="dropdown-item"><span>Bank Loan Assistance</span></a></li>
						<li><a href="/department-plans" class="dropdown-item"><span>Department Plan Approval</span></a>
						</li>
						<li><a href="/building-valuation" class="dropdown-item"><span>Building Valuation</span></a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
				<li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
				<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<!-- Slider -->
	<header class="header slider-fade">
		<div class="owl-carousel owl-theme">
			<div class="text-end item bg-img" data-overlay-dark="3" data-background="img/slider/1.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Welcome to Built-Up Homes!</h1>
								<p>Experience the Quality, Raise Your Lifestyle!
									<br>Transforming your dream home into reality with unmatched quality and
									craftsmanship.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/planning-design"><span>Learn
											More</span></a></div>
								<div class="brochure-links mt-30">
									<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
										<i class="ti-eye"></i> View Brochure 1
									</a>
									<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
										<i class="ti-download"></i> Download Brochure 1
									</a>
									<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
										<i class="ti-eye"></i> View Brochure 2
									</a>
									<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
										<i class="ti-download"></i> Download Brochure 2
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/2.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Expert Interior Designers in Kerala</h1>
								<p>Our interior designing services provide a seamless blend of style and functionality.
									<br>Delivering high-quality interiors that reflect your personal taste and
									preferences.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/interior-design"><span>Learn
											More</span></a></div>

							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/3.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Beautiful Landscaping Services</h1>
								<p>Our landscaping design and execution services enhance the beauty and value of your
									property.
									<br>Create stunning outdoor spaces with our expert team.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/landscaping-design"><span>Learn
											More</span></a></div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/4.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Comprehensive Maintenance & Renovation</h1>
								<p>We offer top-notch maintenance and renovation services to keep your home in pristine
									condition.
									<br>Trust us to handle all your home improvement needs.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/Maintenance"><span>Learn More</span></a>
								</div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/5.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Bank Loan Assistance for Your New Home</h1>
								<p>Get financial assistance and advice to secure the best bank loans for your home
									projects.
									<br>Making your dream home affordable and within reach.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/bank-loan"><span>Learn More</span></a>
								</div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/6.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Expert Department Plan Approval</h1>
								<p>Navigate the complexities of department plan approvals with our expert assistance.
									<br>Ensuring your projects comply with all regulations.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/department-plans"><span>Learn
											More</span></a></div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/7.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Accurate Building Valuation</h1>
								<p>Get precise and reliable building valuation services from our experienced team.
									<br>Determine the true worth of your property with confidence.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/building-valuation"><span>Learn
											More</span></a></div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-end item bg-img" data-overlay-dark="4" data-background="img/slider/8.jpg">
				<div class="v-middle caption mt-30">
					<div class="container">
						<div class="row">
							<div class="col-md-7 offset-md-5">
								<h1>Ready-to-Sell Homes</h1>
								<p>Explore our range of ready-to-sell homes, meticulously designed to meet your needs.
									<br>Find your perfect home today.
								</p>
								<div class="butn-light mt-30 mb-30"><a href="/projects"><span>Learn More</span></a>
								</div>
							</div>
							<div class="brochure-links mt-30">
								<a href="./img/pdf/built-up-home2.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 1
								</a>
								<a href="./img/pdf/built-up-home2.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 1
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" target="_blank" class="brochure-link">
									<i class="ti-eye"></i> View Brochure 2
								</a>
								<a href="./img/pdf/built-up-homes1.pdf" download class="brochure-link">
									<i class="ti-download"></i> Download Brochure 2
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Corner -->
		<div class="hero-corner"></div>
		<div class="hero-corner3"></div>
		<!-- Left Panel -->
		<div class="left-panel">
			<ul class="social-left clearfix">
				<li><a href="#"><i class="ti-instagram"></i></a></li>
				<li><a href="#"><i class="ti-twitter"></i></a></li>
				<li><a href="#"><i class="ti-facebook"></i></a></li>
			</ul>
		</div>
	</header>

	<!-- Content -->
	<div class="content-wrapper">
		
		<section class="about section-padding" style="background-color: #006b63;">
			<div class="container">
				<div class="row">
					<div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
						<h2 class="section-title">About <span>Built Up Homes</span></h2>
						<p>Welcome to Built-Up Homes, where comfort and sustainability meet to 
							create exceptional family spaces. We believe that a home is more than just 
							a building; it's a sanctuary where memories are made and dreams come to 
							life. Our team of dedicated professionals is committed to providing reliable 
							quality and ensuring your utmost satisfaction.</p>
						<p>Built-Up Homes is a trusted Trivandrum-based company specializing in high
							quality houses, villas, housing projects, and property development. With over 
							15 years of experience, we have earned a reputation as a reliable home builder 
							in Kerala's upscale market. Our extensive portfolio includes more than 20 
							successful projects, and our interactions with hundreds of prospective clients 
							have given us valuable insights into their needs and desires.</p>
						
					</div>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
						<div class="about-img">
							<div class="img"> <img src="img/about.jpg" class="img-fluid" alt=""> </div>
							<div class="about-img-2 about-buro">15 years of experience</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Why Choose Us -->
		<section class="about section-padding" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 mb-30 animate-box" data-animate-effect="fadeInUp">
						<h2 class="section-title">Why Choose <span>Built-Up Homes?</span></h2>
						<div class="row">
							<div class="col-md-6">
								<div class="item mb-30">
									<h5>Experience and Expertise</h5>
									<p>With over 15 years of experience in property development, we have successfully completed more than 20 projects, satisfying countless clients. Our deep understanding of our customers' needs and desires has allowed us to elevate our quality and deliver projects that exceed expectations.</p>
								</div>
								<div class="item mb-30">
									<h5>Commitment to Quality</h5>
									<p>Our brand promise is reliable quality, and we stand by it. We are committed to delivering the best projects within your budget and on time. Our meticulous attention to detail, skilled craftsmanship, and use of superior materials ensure that every Built-Up Home is built to last.</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="item mb-30">
									<h5>Customer-Centric Approach</h5>
									<p>Your satisfaction is our top priority. We understand that building a home is a significant investment, both financially and emotionally. That's why we offer personalized consultations, guiding you through every step of the process. We listen to your needs, preferences, and budget to create a home that truly reflects your vision and enhances your lifestyle.</p>
								</div>
								<div class="item">
									<h5>Sustainable and Environmentally-Friendly Practices</h5>
									<p>We are conscious of our impact on the environment and strive to implement sustainable practices in our construction processes. From energy-efficient designs to the use of eco-friendly materials, we prioritize creating homes that are not only comfortable but also environmentally responsible.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Projects -->
		<section class="projects section-padding" style="background-color: #006b63;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="section-title">Our <span>Projects</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel owl-theme" id="projects-container">
							<!-- Projects will be dynamically inserted here -->
						</div>
						<div class="text-center mt-4">
							<a href="/projects" style="color: white;">
								<span>View All Projects</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Services -->
		<section class="services section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="section-title">Our <span>Services</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="item">
							<a href="/planning-design">
								<img src="img/icons/icon-1.png" alt="">
								<h5>Planning & Design</h5>
								<div class="line"></div>
								<p>Our expert team provides comprehensive planning and design services to bring your
									vision to life.</p>
								<div class="numb">01</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/interior-design">
								<img src="img/icons/icon-2.png" alt="">
								<h5>Interior design and execution</h5>
								<div class="line"></div>
								<p>We offer complete interior construction and execution services, ensuring quality and
									excellence.</p>
								<div class="numb">02</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/landscaping-design">
								<img src="img/icons/icon-3.png" alt="">
								<h5>Landscaping Design & Execution</h5>
								<div class="line"></div>
								<p>Create stunning outdoor spaces with our expert landscaping design and execution
									services.</p>
								<div class="numb">03</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/maintenance">
								<img src="img/icons/icon-4.png" alt="">
								<h5>Maintenance & Renovation</h5>
								<div class="line"></div>
								<p>Our maintenance and renovation services ensure your property remains in top
									condition.</p>
								<div class="numb">04</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/bank-loan">
								<img src="img/icons/icon-5.png" alt="">
								<h5>Bank Loan Assistance</h5>
								<div class="line"></div>
								<p>We provide assistance with bank loans to help you finance your projects smoothly.</p>
								<div class="numb">05</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/department-plans">
								<img src="img/icons/icon-6.png" alt="">
								<h5>Department Plan Approval</h5>
								<div class="line"></div>
								<p>Our team helps you navigate the complexities of department plan approvals
									efficiently.</p>
								<div class="numb">06</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/building-valuation">
								<img src="img/icons/icon-2.png" alt="">
								<h5>Building Valuation</h5>
								<div class="line"></div>
								<p>We offer accurate building valuation services to determine the true worth of your
									property.</p>
								<div class="numb">07</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="item">
							<a href="/projects">
								<img src="img/icons/icon-1.png" alt="">
								<h5>Ready-to-Sell Homes</h5>
								<div class="line"></div>
								<p>Explore our range of ready-to-sell homes designed to meet your needs and preferences.
								</p>
								<div class="numb">08</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Blog -->
		<section class="bauen-blog section-padding" style="background-color: #006b63;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="section-title">Client <span>Reviews</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="review-form-box">
							<h4>Share Your Experience</h4>
							<form id="reviewForm">
								<div class="form-group">
									<input type="text" id="name" name="name" placeholder="Your Name" required>
								</div>
								<div class="form-group">
									<textarea id="description" name="description" rows="2" placeholder="Your Review"
										required></textarea>
								</div>
								<div class="form-group">
									<label>Rating</label>
									<select style="background: transparent; border: none;" id="rating" name="rating"
										required>
										<option value="5">⭐⭐⭐⭐⭐ </option>
										<option value="4">⭐⭐⭐⭐</option>
										<option value="3">⭐⭐⭐</option>
										<option value="2">⭐⭐</option>
										<option value="1">⭐</option>
									</select>
								</div>
								<button style="padding: 3px;" type="submit" class="butn-dark">Submit Review</button>
							</form>
						</div>
					</div>
					<div class="col-md-7">
						<div id="reviews-list" class="reviews-container">
							<!-- Reviews will be loaded here -->
						</div>
					</div>
				</div>
			</div>
		</section>



		<!-- Promo video - Testiominals -->
		<section class="testimonials">
			<div class="background bg-img bg-fixed section-padding pb-0" data-overlay-dark="3">
				<div class="container">
					<div class="row">
						<!-- Promo video -->
						<div class="col-md-6">
							<div class="vid-area">
								<video width="100%" autoplay loop muted controls>
									<source src="./img/videos/buituphomes.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
								<div class="cont mt-15 mb-30">
									<h5>View testimonial video</h5>
								</div>
							</div>
						</div>
						<!-- Testiominals -->
						<div class="col-md-5 offset-md-1">
							<div class="testimonials-box animate-box" data-animate-effect="fadeInUp">
								<div class="head-box">
									<h4>Testimonials</h4>
								</div>
								<div class="owl-carousel owl-theme" id="testimonials-carousel">
									<!-- Testimonials will be dynamically added here -->
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- Clients -->
		<section class="clients">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="owl-carousel owl-theme">
							<div class="clients-logo">
								<a href="/"><img src="img/clients/1.png" alt=""></a>
							</div>
							<div class="clients-logo">
								<a href="/"><img src="img/clients/2.png" alt=""></a>
							</div>
							<div class="clients-logo">
								<a href="/"><img src="img/clients/3.png" alt=""></a>
							</div>
							<div class="clients-logo">
								<a href="/"><img src="img/clients/4.png" alt=""></a>
							</div>
							<div class="clients-logo">
								<a href="/"><img src="img/clients/5.png" alt=""></a>
							</div>
							<div class="clients-logo">
								<a href="/"><img src="img/clients/6.png" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Footer -->
		<footer class="main-footer dark">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Phone</h6>
							</div>
							<p>
								<a href="tel:+918921817577">+91 8921817577</a>
							</p>
							<p>
								<a href="tel:+917907539443">+91 7907539443</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Email</h6>
							</div>
							<p><a href="mailto:builtuphomes@gmail.com">builtuphomes@gmail.com</a></p>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Our Address</h6>
							</div>
							<p>Tera 2, Near SFS Wimbledon Kowdiar- Golflinks Rd, Kowdiar Thiruvananthapuram ,pin:
								695025,</p>
							<p>Contonment Southnagar192, Hrishitha, Beach Road, Kollam, Chinnakada PO, Pin: 691001</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="text-left">
								<p>© 2024 BuiltUpHomes. All rights reserved. Developed by TrivLogic.</p>
							</div>
						</div>
						<div class="col-md-4 abot">
							<div class="social-icon"> <a href="/"><i class="ti-facebook"></i></a> <a href="/"><i
										class="ti-twitter"></i></a> <a href="/"><i class="ti-instagram"></i></a> </div>
						</div>
						<div class="col-md-4">
							<p class="right"><a href="/">Terms &amp; Conditions</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="d-lg-none"
			style="position: fixed; bottom: 0; width: 100%; background-color: #fff; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
			<div class="container">
				<div class="row text-center" style="padding-top: 5px;">
					<div class="col">
						<a href="/" class="d-block py-2">
							<img src="img/navicons/home.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px; color: #006b63;">Home</p>
						</a>
					</div>
					<div class="col">
						<a href="/services" class="d-block py-2">
							<img src="img/navicons/service.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px;">Services</p>
						</a>
					</div>
					<div class="col">
						<a href="/projects" class="d-block py-2">
							<img src="img/navicons/building.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px;">projects</p>
						</a>
					</div>
					<div class="col">
						<a href="/contact" class="d-block py-2">
							<img src="img/navicons/contact.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px;">Contact</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const reviewForm = document.getElementById('reviewForm');
			const reviewsList = document.getElementById('reviews-list');
			loadReviews();
			reviewForm.addEventListener('submit', async function (e) {
				e.preventDefault();

				const formData = {
					name: document.getElementById('name').value,
					description: document.getElementById('description').value,
					rating: document.getElementById('rating').value
				};

				try {
					const response = await fetch('/api/client-reviews', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify(formData)
					});

					if (response.ok) {
						reviewForm.reset();
						loadReviews();
					}
				} catch (error) {
					console.error('Error submitting review:', error);
				}
			});

			// Function to load reviews
			async function loadReviews() {
				try {
					const response = await fetch('/api/client-reviews');
					const reviews = await response.json();

					// Initialize the carousel if it doesn't exist
					if (!$('#reviews-list').hasClass('owl-carousel')) {
						$('#reviews-list').addClass('owl-carousel owl-theme');
					}

					// Destroy existing carousel if it exists
					$('#reviews-list').trigger('destroy.owl.carousel');

					// Add reviews to the container
					reviewsList.innerHTML = reviews.filter(review => review.listed).map(review => `
						<div class="item">
							<div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); margin: 10px;">
								<div style="display: flex; justify-content: space-between; margin-bottom: 15px;">
									<h5 style="margin: 0; color: #333;">${review.name}</h5>
									<div style="color: #ffd700;">${'⭐'.repeat(review.rating)}</div>
								</div>
								<p style="margin: 0; color: #666; line-height: 1.6;">${review.description}</p>
							</div>
						</div>
					`).join('');

					// Initialize Owl Carousel
					$('#reviews-list').owlCarousel({
						loop: true,
						margin: 20,
						nav: false,
						dots: true,
						autoplay: true,
						autoplayTimeout: 5000,
						autoplayHoverPause: true,
						responsive: {
							0: {
								items: 1
							},
							768: {
								items: 2
							}
						}
					});

				} catch (error) {
					console.error('Error loading reviews:', error);
				}
			}
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			if (typeof jQuery != 'undefined') {
				$('#testimonials-carousel').owlCarousel({
					loop: true,
					margin: 30,
					mouseDrag: true,
					autoplay: true,
					dots: false,
					nav: false,
					navText: ['<i class="ti-angle-left" aria-hidden="true"></i>', '<i class="ti-angle-right" aria-hidden="true"></i>'],
					responsiveClass: true,
					responsive: {
						0: {
							items: 1,
						},
						600: {
							items: 2,
						},
						1000: {
							items: 2,
						}
					}
				});

				fetch('/api/testimonials')
					.then(response => response.json())
					.then(testimonials => {
						const carousel = $('#testimonials-carousel');
						carousel.trigger('destroy.owl.carousel');
						testimonials.filter(testimonial => testimonial.listed).forEach(testimonial => {
							carousel.append(`
                        <div class="item">
                            <div class="author-img text-center">
                                <img src="${testimonial.profilePicture || 'img/team/default.jpg'}" alt="${testimonial.name}" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin: 0 auto;">
                            </div>
                            <div class="cont text-center" style="margin-top: 15px;">
                                <h6>${testimonial.name}</h6>
                            </div>
                            <p class="text-center" style="margin-top: 10px;">"${testimonial.description}"</p>
                        </div>
                    `);
						});

						carousel.owlCarousel({
							loop: true,
							margin: 30,
							mouseDrag: true,
							autoplay: true,
							dots: true,
							nav: false,
							navText: ['<i class="ti-angle-left" aria-hidden="true"></i>', '<i class="ti-angle-right" aria-hidden="true"></i>'],
							responsiveClass: true,
							responsive: {
								0: {
									items: 1,
								},
								600: {
									items: 2,
								},
								1000: {
									items: 2,
								}
							}
						});
					})
					.catch(error => console.error('Error fetching testimonials:', error));
			}
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', async () => {
			try {
				const response = await fetch('/api/projects');
				const projects = await response.json();

				const container = $('#projects-container');
				if (!container.length) {
					console.error('Projects container element not found');
					return;
				}

				// Destroy existing carousel if it exists
				if (container.hasClass('owl-loaded')) {
					container.trigger('destroy.owl.carousel');
				}

				// Filter listed projects and get last 6
				const listedProjects = projects.filter(project => project.listed).slice(-6);

				// Add all items at once
				const projectsHtml = listedProjects.map(project => {
					const projectImage = project.images.length > 0 ? project.images[0] : 'path/to/default_image.jpg';
					return `
                <div class="item">
                    <div class="position-re o-hidden">
                        <img style="width: 100%; height: 300px; object-fit: cover;" src="${projectImage}" alt="${project.title}">
                    </div>
                    <div class="con">
                        <h6><a href="/projects">${project.title}</a></h6>
                        <span class="price">${project.description}</span>
                    </div>
                </div>
            `;
				}).join('');

				container.html(projectsHtml);

				container.owlCarousel({
					loop: true,
					margin: 30,
					nav: false,
					dots: true,
					autoplay: true,
					autoplayTimeout: 4000,
					smartSpeed: 1000,
					navText: ['<i class="ti-angle-left"></i>', '<i class="ti-angle-right"></i>'],
					items: 3,
					responsive: {
						0: {
							items: 1
						},
						600: {
							items: 2
						},
						1000: {
							items: 3
						}
					}
				});

			} catch (error) {
				console.error('Error fetching projects:', error);
			}
		});
	</script>

	<script src="js/jquery-3.6.3.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.min.js"></script>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/jquery.isotope.v3.0.2.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scrollIt.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/YouTubePopUp.js"></script>
	<script src="js/before-after.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>