<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Built homes</title>
    <link rel="shortcut icon" href="img/logo.png" />
    <link rel="stylesheet" href="css/plugins.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div><div id="preloader"><div id="preloader-status"><div class="preloader-position loader"><span></span></div></div></div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
		<!-- Logo -->
		<div class="logo-wrapper valign">
			<div class="logo">
				<a href="/"> <img src="img/logo.png" class="logo-img" alt="">
				</a>
			</div>
		</div>
		<!-- Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
			aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
				class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
		<!-- Menu -->
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item dropdown "> <a class="nav-link dropdown-toggle active" href="/services"
                        role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                        aria-expanded="false">Services <i class="ti-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/planning-design" class="dropdown-item"><span>Planning & Design</span></a>
                        </li>
                        <li><a href="/interior-design" class="dropdown-item"><span>Interior Design &
                                    Execution</span></a></li>
                        <li><a href="/landscaping-design" class="dropdown-item active"><span> Landscaping Design &
                                    Execution</span></a></li>
                        <li><a href="/maintenance" class="dropdown-item"><span>Maintenance & Renovation</span></a>
                        </li>
                        <li><a href="/bank-loan" class="dropdown-item"><span>Bank Loan Assistance</span></a></li>
                        <li><a href="/department-plans" class="dropdown-item"><span>Department Plan Approval</span></a>
                        </li>
                        <li><a href="/building-valuation" class="dropdown-item"><span>Building Valuation</span></a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
		</div>
	</nav>
    <!-- Content -->
    <div class="content-wrapper">
        <!-- Lines -->
        <section class="content-lines-wrapper">
            <div class="content-lines-inner">
                <div class="content-lines"></div>
            </div>
        </section>
        <!-- Header Banner -->
        <section class="banner-header banner-img valign bg-img bg-fixed" data-overlay-darkgray="5" data-background="img/banner.jpg">
            <!-- Left Panel -->
            <div class="left-panel"></div>
        </section>
        <!-- Services Page -->
        <section class="section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title2">Landscaping Design & Execution</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p>Landscaping Design & Execution involves creating outdoor spaces that are both beautiful and functional. Our team of experts carefully plans and designs each landscape to enhance the natural beauty of your property while meeting your specific needs and preferences. From lush gardens to functional outdoor living areas, we transform your vision into reality.</p>
                    <p>Our services include everything from initial design concepts to the final execution of planting, hardscaping, and irrigation systems. We ensure that every element is perfectly integrated to create a cohesive and inviting outdoor environment.</p>                    
                    <div class="row mb-30">
                        <div class="col-md-6 gallery-item">
                            <a href="img/services/land1.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="img/services/land1.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 gallery-item">
                            <a href="img/services/land2.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="img/services/land2.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div> 
                        <div class="col-md-12 gallery-item">
                            <a href="img/services/lanscape.jpg" title="Urban Design" class="img-zoom">
                                <div class="gallery-box">
                                    <div class="gallery-img"> <img src="img/services/lanscape.jpg" class="img-fluid mx-auto d-block" alt="work-img"> </div>
                                </div>
                            </a>
                        </div>    
            </div>
                </div>
                <div class="col-md-4 sidebar-side">
                        <aside class="sidebar blog-sidebar">
                            <div class="sidebar-widget services">
                                <div class="widget-inner">
                                    <div class="sidebar-title">
                                        <h4>All Services</h4>
                                    </div>
                                    <ul>
                                        <li><a href="/planning-design"><span>Planning & Design</span></a></li>
                                        <li><a href="/interior-design"><span>Interior Designing & Execution</span></a>
                                        </li>
                                        <li><a href="/landscaping-design" style="color: #07e668;"><span> Landscaping Design & Execution</span></a>
                                        </li>
                                        <li><a href="/maintenance"><span>Maintenance & Renovation</span></a></li>
                                        <li><a href="/bank-loan"><span>Bank Loan Assistance</span></a></li>
                                        <li><a href="/department-plans"><span>Department Plan Approval</span></a></li>
                                        <li><a href="/building-valuation"><span>Building Valuation</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                </div>
            </div>
            
        </div>
    </section>
        <!-- Footer -->
        <footer class="main-footer dark">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Phone</h6>
							</div>
							<a href="tel:+918921817577">+91 8921817577</a>
                            <a href="tel:+918921817577">+91 7907539443</a>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Email</h6>
							</div>
							<p><a href="mailto:builtuphomes@gmail.com">builtuphomes@gmail.com</a></p>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Our Address</h6>
							</div>
							<p>Contonment Southnagar192, Hrishitha, Beach Road, Kollam, Chinnakada PO, Pin: 691001,</p>
                            <p>Tera 2, Near SFS Wimbledon Kowdiar- Golflinks Rd, Kowdiar Thiruvananthapuram ,pin: 695025</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="text-left">
								<p>© 2024 BuiltHomes. All rights reserved. Developed by TrivLogic.</p>
							</div>
						</div>
						<div class="col-md-4 abot">
							<div class="social-icon"> <a href="/"><i class="ti-facebook"></i></a> <a
									href="/"><i class="ti-twitter"></i></a> <a href="/"><i
										class="ti-instagram"></i></a> </div>
						</div>
						<div class="col-md-4">
							<p class="right"><a href="/">Terms &amp; Conditions</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="d-lg-none"
			style="position: fixed; bottom: 0; width: 100%; background-color: #fff; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
            <div class="container">
                <div class="row text-center" style="padding-top: 5px;">
                    <div class="col">
                        <a href="/" class="d-block py-2">
                            <img src="img/navicons/home.png" alt="serviceicon" style="max-width: 30px;">
                            <p style="margin: 0; font-size: 12px;">Home</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/services" class="d-block py-2">
                            <img src="img/navicons/service.png" alt="serviceicon" style="max-width: 30px;">
                            <p style="margin: 0; font-size: 12px; color: #006b63;">Services</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/projects" class="d-block py-2">
                            <img src="img/navicons/building.png" alt="serviceicon" style="max-width: 30px;">
                            <p style="margin: 0; font-size: 12px;">projects</p>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/contact" class="d-block py-2">
                            <img src="img/navicons/contact.png" alt="serviceicon" style="max-width: 30px;">
                            <p style="margin: 0; font-size: 12px;">Contact</p>
                        </a>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/jquery.isotope.v3.0.2.js"></script>
    
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/before-after.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>