<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Built Up Homes</title>
	<link rel="shortcut icon" href="img/logo.png" />
	<link rel="stylesheet" href="css/plugins.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<!-- Preloader -->
	<div class="preloader-bg"></div><div id="preloader"><div id="preloader-status"><div class="preloader-position loader"><span></span></div></div></div>
	<!-- Progress scroll totop -->
	<div class="progress-wrap cursor-pointer">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" /> </svg>
	</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
	<!-- Logo -->
	<div class="logo-wrapper valign">
		<div class="logo">
			<a href="/"> <img src="img/logo.png" class="logo-img" alt="">
			</a>
		</div>
	</div>
	<!-- Button -->
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
		aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span
			class="navbar-toggler-icon"><i class="ti-menu"></i></span> </button>
	<!-- Menu -->
	<div class="collapse navbar-collapse" id="navbar">
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item dropdown "> <a class="nav-link dropdown-toggle" href="/services" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Services <i class="ti-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/planning-design" class="dropdown-item "><span>Planning & Design</span></a></li>
                        <li><a href="/interior-design" class="dropdown-item"><span>Interior Designing & Execution</span></a></li>
                        <li><a href="/landscaping-design" class="dropdown-item "><span> Landscaping Design & Execution</span></a></li>
                        <li><a href="/maintenance" class="dropdown-item"><span>Maintenance & Renovation</span></a></li>
                        <li><a href="/bank-loan" class="dropdown-item"><span>Bank Loan Assistance</span></a></li>
                        <li><a href="/department-plans" class="dropdown-item"><span>Department Plan Approval</span></a></li>
                        <li><a href="/building-valuation" class="dropdown-item"><span>Building Valuation</span></a></li>
                    </ul>
                </li>
				<li class="nav-item"><a class="nav-link active" href="/projects">Projects</a></li>
				<li class="nav-item"><a class="nav-link" href="/blogs">Blogs</a></li>
				<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
			</ul>
		</div>
	</div>
</nav>
<!-- Slider -->
	<!-- Content -->
	<div class="content-wrapper">
		<!-- Lines -->
		<section class="content-lines-wrapper">
			<div class="content-lines-inner">
				<div class="content-lines"></div>
			</div>
		</section>
		<!-- Header Banner -->
		<section class="banner-header banner-img bg-img bg-fixed pb-0" data-background="img/banner.jpg" data-overlay-darkgray="5">
			<!-- Left Panel -->
			<div class="left-panel"></div>
		</section>
		<!-- Projects -->
		<section class="projects section-padding2">
			<div class="container">
				<div class="row">
					<div class="col-md-12 animate-box" data-animate-effect="fadeInUp">
						<h2 class="section-title">Our <span>Projects</span></h2> </div>
				</div>
				<div class="row" id="projectsContainer">
					<!-- Projects will be dynamically inserted here -->
				</div>
			</div>
		</section>
		<!-- Promo video - Testiominals -->
		<section class="testimonials">
			<div class="background bg-img bg-fixed section-padding pb-0"
				data-overlay-dark="3">
				<div class="container">
					<div class="row">
						<!-- Promo video -->
						<div class="col-md-6">
							<div class="vid-area">
								<video width="100%" autoplay loop muted controls>
									<source src="./img/videos/buituphomes.mp4" type="video/mp4">
									Your browser does not support the video tag.
								</video>
								<div class="cont mt-15 mb-30">
									<h5>View testimonial video</h5>
								</div>
							</div>
						</div>
						<!-- Testiominals -->
						<div class="col-md-5 offset-md-1">
							<div class="testimonials-box animate-box" data-animate-effect="fadeInUp">
								<div class="head-box">
									<h4>Testimonials</h4>
								</div>
								<div class="owl-carousel owl-theme" id="testimonials-carousel">
									<!-- Testimonials will be dynamically added here -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Clients -->
		<section class="clients">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
                        <div class="owl-carousel owl-theme">
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/1.png" alt=""></a>
                            </div>
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/2.png" alt=""></a>
                            </div>
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/3.png" alt=""></a>
                            </div>
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/4.png" alt=""></a>
                            </div>
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/5.png" alt=""></a>
                            </div>
                            <div class="clients-logo">
                                <a href="/"><img src="img/clients/6.png" alt=""></a>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</section>
		<footer class="main-footer dark">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Phone</h6>
							</div>
							<a href="tel:+918921817577">+91 8921817577</a>
							<a href="tel:+918921817577">+91 7907539443</a>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Email</h6>
							</div>
							<p><a href="mailto:builtuphomes@gmail.com">builtuphomes@gmail.com</a></p>
						</div>
					</div>
					<div class="col-md-4 mb-30">
						<div class="item fotcont">
							<div class="fothead">
								<h6>Our Address</h6>
							</div>
							<p>Contonment Southnagar192, Hrishitha, Beach Road, Kollam, Chinnakada PO, Pin: 691001,</p>
							<p>Tera 2, Near SFS Wimbledon Kowdiar- Golflinks Rd, Kowdiar Thiruvananthapuram ,pin: 695025</p>
						</div>
					</div>
				</div>
			</div>
			<div class="sub-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="text-left">
								<p>© 2024 BuiltUpHomes. All rights reserved. Developed by TrivLogic.</p>
							</div>
						</div>
						<div class="col-md-4 abot">
							<div class="social-icon"> <a href="/"><i class="ti-facebook"></i></a> <a
									href="/"><i class="ti-twitter"></i></a> <a href="/"><i
										class="ti-instagram"></i></a> </div>
						</div>
						<div class="col-md-4">
							<p class="right"><a href="/">Terms &amp; Conditions</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="d-lg-none"
			style="position: fixed; bottom: 0; width: 100%; background-color: #fff; box-shadow: 0 -2px 5px rgba(0,0,0,0.1); z-index: 1000;">
			<div class="container">
				<div class="row text-center" style="padding-top: 5px;">
					<div class="col">
						<a href="/" class="d-block py-2">
							<img src="img/navicons/home.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px; ">Home</p>
						</a>
					</div>
					<div class="col">
						<a href="/services" class="d-block py-2">
							<img src="img/navicons/service.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px;">Services</p>
						</a>
					</div>
					<div class="col">
						<a href="/projects" class="d-block py-2">
							<img src="img/navicons/building.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px; color: #006b63;">projects</p>
						</a>
					</div>
					<div class="col">
						<a href="/contact" class="d-block pt-2">
							<img src="img/navicons/contact.png" alt="serviceicon" style="max-width: 30px;">
							<p style="margin: 0; font-size: 12px;">Contact</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="js/jquery-3.6.3.min.js"></script>
	<script src="js/jquery-migrate-3.0.0.min.js"></script>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/jquery.isotope.v3.0.2.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scrollIt.min.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/YouTubePopUp.js"></script>
	<script src="js/before-after.js"></script>
	<script src="js/custom.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			if (typeof jQuery != 'undefined') {
				$('#testimonials-carousel').owlCarousel({
					loop: true,
					margin: 30,
					mouseDrag: true,
					autoplay: true,
					dots: false,
					nav: false,
					navText: ['<i class="ti-angle-left" aria-hidden="true"></i>', '<i class="ti-angle-right" aria-hidden="true"></i>'],
					responsiveClass: true,
					responsive: {
						0: {
							items: 1,
						},
						600: {
							items: 2,
						},
						1000: {
							items: 2,
						}
					}
				});

				fetch('/api/testimonials')
					.then(response => response.json())
					.then(testimonials => {
						const carousel = $('#testimonials-carousel');
						carousel.trigger('destroy.owl.carousel');
						testimonials.filter(testimonial => testimonial.listed).forEach(testimonial => {
							carousel.append(`
                        <div class="item">
                            <div class="author-img text-center">
                                <img src="${testimonial.profilePicture || 'img/team/default.jpg'}" alt="${testimonial.name}" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin: 0 auto;">
                            </div>
                            <div class="cont text-center" style="margin-top: 15px;">
                                <h6>${testimonial.name}</h6>
                            </div>
                            <p class="text-center" style="margin-top: 10px;">"${testimonial.description}"</p>
                        </div>
                    `);
						});

						carousel.owlCarousel({
							loop: true,
							margin: 30,
							mouseDrag: true,
							autoplay: true,
							dots: true,
							nav: false,
							navText: ['<i class="ti-angle-left" aria-hidden="true"></i>', '<i class="ti-angle-right" aria-hidden="true"></i>'],
							responsiveClass: true,
							responsive: {
								0: {
									items: 1,
								},
								600: {
									items: 2,
								},
								1000: {
									items: 2,
								}
							}
						});
					})
					.catch(error => console.error('Error fetching testimonials:', error));
			}
		});
	</script>
	<script>
		fetch('/api/projects')
			.then(response => response.json())
			.then(projects => {
				const container = document.getElementById('projectsContainer');
				container.innerHTML = '';
				projects.forEach(project => {
					if (project.listed) {
						const projectHtml = `
							<div class="col-md-6" data-animate-effect="fadeInUp">
								<div class="item">
									<div class="position-re o-hidden">
										<div id="carousel-${project._id}" class="carousel slide" data-bs-ride="carousel">
											<div class="carousel-inner">
												${project.images.map((image, index) => `
													<div class="carousel-item ${index === 0 ? 'active' : ''}">
														<img src="${image}" class="d-block w-100" alt="${project.title}" 
															style="height: 400px; object-fit: cover; cursor: pointer"
															onclick='openFullscreen("${image}", ${JSON.stringify(project.images).replace(/'/g, "&apos;")}, ${index})'>
													</div>
												`).join('')}
											</div>
										
										</div>
									</div>
									<div class="con">
										<h6><p>${project.title}</p></h6>
										<a>${project.description}</a>
										<p class="price">₹${project.price}</p>
										<div class="line"></div>
									</div>
								</div>
							</div>
						`;
						container.innerHTML += projectHtml;
					}
				});

				projects.forEach(project => {
					if (project.listed && project.images.length > 1) {
						new bootstrap.Carousel(document.getElementById(`carousel-${project._id}`), {
							interval: 3000,
							wrap: true
						});
					}
				});
			})
			.catch(error => console.error('Error fetching projects:', error));

		function openFullscreen(currentImage, images, startIndex) {
			const overlay = document.createElement('div');
			overlay.style.cssText = `
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.9);
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 9999;
			`;

			let currentIndex = startIndex;

			const content = `
				<div style="position: relative; max-width: 90%; max-height: 90%;">
					<img src="${currentImage}" style="max-width: 100%; max-height: 90vh; object-fit: contain;">
					${images.length > 1 ? `
						<button onclick="changeImage(-1)" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); background: rgba(255,255,255,0.3); border: none; padding: 10px; cursor: pointer; color: white;">❮</button>
						<button onclick="changeImage(1)" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: rgba(255,255,255,0.3); border: none; padding: 10px; cursor: pointer; color: white;">❯</button>
					` : ''}
					<button onclick="closeFullscreen()" style="position: absolute; right: 10px; top: 10px; background: rgba(255,255,255,0.3); border: none; padding: 10px; cursor: pointer; color: white;">✕</button>
				</div>
			`;

			overlay.innerHTML = content;
			document.body.appendChild(overlay);
			document.body.style.overflow = 'hidden';

			window.fullscreenState = {
				currentIndex,
				images,
				overlay
			};

			overlay.addEventListener('click', function(e) {
				if (e.target === overlay) {
					closeFullscreen();
				}
			});
		}

		// Global functions for fullscreen controls
		window.closeFullscreen = function() {
			if (window.fullscreenState) {
				document.body.removeChild(window.fullscreenState.overlay);
				document.body.style.overflow = 'auto';
				window.fullscreenState = null;
			}
		};

		window.changeImage = function(direction) {
			if (window.fullscreenState) {
				const { currentIndex, images, overlay } = window.fullscreenState;
				const newIndex = (currentIndex + direction + images.length) % images.length;
				const imgElement = overlay.querySelector('img');
				imgElement.src = images[newIndex];
				window.fullscreenState.currentIndex = newIndex;
			}
		};
	</script>
</body>
</html>